body {
    background: linear-gradient(to right,rgb(220,35,65),rgb(75,125,125));
    .container {

        padding-top: 60px;
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        .card {
            background-color: #fff;
            border: 1px solid gray;
            width: 100%;
            // position: relative;
            padding: 15px 40px;
            .header {
                padding-bottom: 50px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                // position: absolute;
                .logo {
                    display: flex;
                    img {
                        margin-right: 12px;
                    }
                    div {
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
                .navigation {
                    .nav_link {
                        color: black;
                        text-decoration: none;
                        font-weight: 700;
                        margin-left: 4px;
                        padding: .5rem 1rem;
                    }
                    .nav_link:hover,.nav_link.active {
                        color: #fff;
                        background-color: black;
                        padding: .5rem 1rem;
                        text-decoration: none;
                        border-radius: 0.2rem;
                    }
                }
            }
            .container_inner {
                max-width: 1000px;
                width: 100%;
                margin: 0 auto;
                .intro {
                    margin-bottom: 70px;
                    display: flex;
                    img {
                        margin-right: 50px;
                    }
                    .intro_description {
                        .intro_description_sup {
                            font-size: 65px;
                            font-weight: 700;
                            margin-bottom: 12px;
                        }
                        .intro_description_sub {
                            font-size: 32px;
                            font-weight: 300;   
                            line-height: 1;
                            opacity: .72;
                        }
                    }
                }
                .career {
                    display: flex;
                    .career_desc {
                        .career_desc_sup {
                            font-weight: 700;
                            font-size: 35px;
                            width: 50%;
                            margin-bottom: 12px;
                            
                        }
                        .career_desc_sub {
                            width: 50%;
                            font-size: 17.5px;
                            line-height: 1.3;
                        }
                    }
                    .career_btns {
                        transform: translateX(-72%);
                       .row_one {
                        display: flex;
                        height: 40px;
                        p {
                            border: 1px solid black;
                            padding: 5px 7px;
                            height: 20px;
                        }
                       }
                       .row_two {
                        display: flex;
                        height: 40px;
                        p {
                            border: 1px solid black;
                            padding: 5px 7px;
                            height: 20px;
                        }
                       }
                       .row_three {
                        height: 20px;
                        width: fit-content;
                        p {
                            border: 1px solid black;
                            padding: 5px 7px;
                            height: 20px;
                        }
                       }
                       .row_four {
                        display: flex;
                        height: 40px;
                        p {
                            border: 1px solid black;
                            padding: 5px 7px;
                            height: 20px;
                        }
                       }
                       .row_five {
                        display: flex;
                        height: 40px;
                        p {
                            border: 1px solid black;
                            padding: 5px 7px;
                            height: 20px;
                        }
                       }
                    }
                }
            }
        }
    }
}